* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* INDEX HTML */
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(5, 7, 36);
}  

.nav-img {
    height: 350px;
}

.nav-img img {
    width: 100%;
    height:350px;
    overflow: hidden;
}

figure {
    position: relative;
    left: 0;
    width: 400%;
    animation: 40s slide infinite;
}

.slide {
    position: relative;
    width: 25%;
    float: left;
}

@keyframes slide {
    0% {
        left: 0;
    }
    10% {
        left: 0;
    }
    20% {
        left: -100%;
    }
    30% {
        left: -100%;
    }
    40% {
        left: -200%;
    }
    50% {
        left: -200%;
    }
    55% {
        left: -300%;
    }
    65% {
        left: -300%;
    }
    66% {
        left: -200%;
    }
    74% {
        left: -200%;
    }
    75% {
        left: -100%;
    }
    85% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

.nav-bar {
    border-bottom: white solid 3px;
    background-color: rgb(5, 7, 36);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.nav-bar-ul {
    text-align: center;
    display:inline-flex;
    list-style: none;
    font-size: 30px;
}

.nav-bar-section {
    display: inline-block;
    width: 470px;
}

.search-bar-section {
    display: inline-block;
    width: 220px;
}

.search-bar {
    width: 220px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(5, 7, 36);
    border: 1px solid grey;
}

#search-input {
    float: left;
    background: transparent;
    color: white;
    margin: 4px;
    height: 30px;
    border: 0;
}

.search-bar button {
    margin: 6px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

#search-img {
    float: right;
    width: 25px;
    height: 25px;
}

li.nav-bar-li {
    padding: 15px;
    width: 150px;
}

.nav-bar-a {
    text-decoration: none;
    color: white;
}

.nav-bar-li:hover {
    background-color:white;
}

.nav-bar-a:hover {
    color: black;
}

.movie-li {
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 20px;
    width: 233px;
    height: fit-content;
    background-color:#170749;
    border-radius: 5px;
    color: black;
}

.movie-list {
    margin-top: 20px;
    margin-left: 15px;
}


.movie-BGC6336 {
    height: 230px;
    background-size: 100%;
    background-image: url("bags-img/BGC6336.jpg");
    transition: transform .2s;
}

.movie-doctorstrange2:hover {
    transform: scale(1.05);
}

.movie-minions2 {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/minions2.jpg");
    transition: transform .2s;
}

.movie-minions2:hover {
    transform: scale(1.05);
}

.movie-fivefeetapart {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/fivefeetapart.jpg");
    transition: transform .2s;
}

.movie-fivefeetapart:hover {
    transform: scale(1.05);
}

.movie-ticktickboom {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/ticktickboom.jpg");
    transition: transform .2s;
}

.movie-ticktickboom:hover {
    transform: scale(1.05);
}

.movie-thor4 {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/thor4.jpg");
    transition: transform .2s;
}
.movie-thor4:hover {
    transform: scale(1.05);
}

.movie-topgun2 {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/topgun2.jpg");
    transition: transform .2s;
}
.movie-topgun2:hover {
    transform: scale(1.05);
}

.movie-rednotice {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/rednotice.jpg");
    transition: transform .2s;
}

.movie-rednotice:hover {
    transform: scale(1.05);
}

.movie-freeguy {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/freeguy.jpg");
    transition: transform .2s;
}

.movie-freeguy:hover {
    transform: scale(1.05);
}

.movie-jurassicworld3 {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/jurassicworld3.jpg");
    transition: transform .2s;
}

.movie-jurassicworld3:hover {
    transform: scale(1.05);
}

 .movie-turningred {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/turningred.jpeg");
    transition: transform .2s;
}

.movie-turningred:hover {
    transform: scale(1.05);
}

.movie-rayaanddragon {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/rayaanddragon.png");
    transition: transform .2s;
}

.movie-rayaanddragon:hover {
    transform: scale(1.05);
}

.movie-avengers4 {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/avengers4.jpg");
    transition: transform .2s;
}

.movie-avengers4:hover {
    transform: scale(1.05);
}

.movie-interstellar {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/Interstellar.jpg");
    transition: transform .2s;
}

.movie-interstellar:hover {
    transform: scale(1.05);
}

.movie-coco {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/coco.jpg");
    transition: transform .2s;
}

.movie-coco:hover {
    transform: scale(1.05);
}

.movie-tenet {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/tenet.jpg");
    transition: transform .2s;
}

.movie-tenet:hover {
    transform: scale(1.05);
}

.movie-thejudge {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/thejudge.jpg");
    transition: transform .2s;
}

.movie-thejudge:hover {
    transform: scale(1.05);
}

.movie-whoami {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/whoami.jpg");
    transition: transform .2s;
}

.movie-whoami:hover {
    transform: scale(1.05);
}

.movie-beautyandthebeast {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/beautyandthebeast.jpg");
    transition: transform .2s;
}

.movie-beautyandthebeast:hover {
    transform: scale(1.05);
}

.movie-theimitationgame {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/theimitationgame.jpg");
    transition: transform .2s;
}

.movie-theimitationgame:hover {
    transform: scale(1.05);
}

.movie-thelionking {
    height: 320px;
    background-size: 100%;
    background-image: url("movie-img/thelionking.jpg");
    transition: transform .2s;
}

.movie-thelionking:hover {
    transform: scale(1.05);
}

/* MOVIE NAME */
.movie-dec {
    text-align: left;
    margin-top: 3px;
    padding: 5px;
}

.movie-dec p {
    color:rgb(157, 165, 172);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-link {
    text-decoration: none;
    color: rgb(188, 199, 209);
}

.img-link:hover {
    color: rgb(201, 7, 201);
    text-decoration: underline;
}

/* MOVIE-INF */
.movie-inf {
    background-color:rgb(105, 105, 105);
}




/* FOOTER */
.footer {
    background-color: rgb(139, 139, 139);
    margin-top: 30px;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
    height: 170px;
    width: 100%;
}

.footer-img {
    position: absolute;
}

.footer-img img {
    border-radius: 100px;
    border: 1px solid black;
    transition: transform 1s;
}

.footer-img img:hover {
    transform: rotate(360deg);
}

.footer-inf {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 185px;
    font-size: 20px;
}